<h1>===============app.component.html start==========</h1>

<!--   component:layout-1 ==--=-=> children:ModuleRoute1  now this module route 
==>connect to lazzy import of module1     AGain in the module routets file component routing will be there
http://localhost:4200/admin/admin  -->
<!--   component:layout-2 ==--=-=> children:ModuleRoute2==>Now this module2 route
==>connect to lazzy import of module2-->
<router-outlet></router-outlet>


<h1>===============app.component.html End==========</h1>